header {
  #navLogo {
    height: 100px;
  }

  a.nav-link {
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 25px;
    padding-left: 10px;

    &:hover {
      color: #ff9800;
      padding-left: 10px;
    }

    &.active {
      color: white;
      background-color: #ff9800;
      padding-left: 10px;
    }
  }
}
@media screen and (max-width: 480px) {
  header {
    #navLogo {
      height: 50px;
    }
  }
}
