header #navLogo {
  height: 100px; }

header a.nav-link {
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 25px;
  padding-left: 10px; }
  header a.nav-link:hover {
    color: #ff9800; }
  header a.nav-link.active {
    color: white;
    background-color: #ff9800; }

@media screen and (max-width: 480px) {
  header #navLogo {
    height: 50px; } }
